.Statistics {
    background: #f0f0f0;
    color: #000;
    .mai {
      height: auto;
      min-height: 100vh;
      padding-bottom: 50px;
      .content-charts {
        margin-top: 20px;
      }
    }
  }