.el-form-item__label {
    color: #606266 !important;
  }
  .wrapper .main-container {
    padding-left: 15px;
  }
  .search-content {
    margin: 20px 0;
    text-align: left;
  }
  .filter-item{
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .tags{
    padding:5px 0 !important;
  }
  .tags-li.active {
    border: 1px solid #42b983 !important;
    background-color: #42b983 !important;
  }
  .tags-close-box{
        top: 50%!important;
      transform: translate(0, -50%)!important;
  }
  .el-dialog__header{
    text-align: left;
  }
  .el-button--small,.el-button + .el-button{
    margin: 2px;
}
.tabel-img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.download-content{
  display: flex;
  width:100%;
  height:100%;
  align-items: center;
  justify-content: space-between;
  color: #409EFF;
}
.iconfont.download{
  font-size: 35px;
}
.el-progress__text {
  font-size: 24px !important;
  color: #2c3e50 !important;
}
/* .el-submenu.is-opened .el-menu{
  background-color: rgb(38, 52, 69)!important;
} */
.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow: hidden
}
.icon-fontsize-xl{
  font-size: 60px!important;
}
.float-left{
  float:left;
}
.float-right{
  float:right;
}
.fontsize-lg{
  font-size: 24px;
}
.fontsize-md{
  font-size: 20px;
}
.fontsize-sm{
  font-size: 16px;
}
.fontsize-xs{
  font-size: 14px;
}
.color-blue{
  color:#0089FF;
}
.color-9{
  color:#999;
}
.my-charts {
  height: 426px;
  background: #fff;
  padding-top: 20px;
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.05);
}
.chart-tit{
  background: #fff;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.back-btn{
  background: #F56C6C;
  color: #fff;
  border: none;
  /* float: right; */
}
.cloud-back-wrap{
  position: fixed;
  width: 100%;
  text-align: left;
  color: #0089FF;
  background: #fff;
  padding: 10px 0;
  margin: 0;
  font-size: 20px;
  z-index: 99999999999999;
}
.cloud-back-wrap i{
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 26px;
  transform: translate(0,-50%);
}
.cloud-back-wrap span{
  margin-left: 35px;
}
.header-nav.act{
  top: 38px;
}
